
/*Fonts Provided by Google Fonts*/

@import url(//fonts.googleapis.com/css?family=Bad+Script);
@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Assistant);
@import url(//fonts.googleapis.com/css?family=Raleway);
@import url('//fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('//fonts.googleapis.com/css?family=Damion');
@import url('//fonts.googleapis.com/css?family=Finger+Paint');
@import url('//fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('//fonts.googleapis.com/css?family=Handlee');
@import url('//fonts.googleapis.com/css?family=Kavivanar');
@import url('//fonts.googleapis.com/css?family=Satisfy');
@import url('//fonts.googleapis.com/css?family=Special+Elite');
@import url('//fonts.googleapis.com/css?family=Yellowtail');
@import url('//fonts.googleapis.com/css?family=Amatic+SC');

/**/
/*Universal Content*/
#about, #contact, #pricing, #gallery {
	padding: 0 0 90px 0;
	}
html, body, h1, h2, h3, p, ul, li {
	padding:0;
	margin:0;
	}
html {
	font-family:'Open Sans', arial, sans-serif;
	font-size: .625em;
	}
header {
	text-align: center;
	width: 80em;
	margin: 4em auto;
	}
hgroup h2 {
	margin:0;
	}
hgroup h1 {
	font-family:'Fredericka the Great', sans-serif;
	font-weight:200;
	} 
main {
	width: 60em;
	margin: auto;
	}
h1, h2, h3, a {
	font-family: "Shadows Into Light Two", sans-serif;
	letter-spacing:.05em;
	font-weight:200;
	}
h1, h2, h3, h4, h5, h6 {
	text-align:center;
	}
h1 {
	font-size:4.5em;
	}
h2 {
	font-size:2em;
	margin:.8em 0 .5em;
	}
h3 {
	font-size:1.5em;
	margin: .5em 0 0 0;
	}
p {
	font-size:1.2em;
	line-height:1.6em;
}
a {text-decoration:none;}

/**/
/*Navigation Content*/

nav {
	position:fixed;
	bottom:0;
	height:90px;
	width:100%;
	background: rgb(215,210,210);
	}
#navwrap {
	height:66px;
	width:700px;
	margin:12px auto;
	}
#logo {
	float:left;
	height:65px;
	padding-left:75px;
	background: url('../assets/images/katlogo.png') center left no-repeat;
	}
a div#logo h1 {
	font-size:35px;
	margin-top:5px;
	color: rgb(75,75,85);
	text-decoration: none;
	}
nav ul {
	width:350px;
	height:40px;
	float:left;
	margin:20px 0 0 40px;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	}
nav ul li {
	list-style:none;
	}
nav ul li a {
	text-decoration:none;
	color: rgb(75,75,85);
	font-size: 20px;
	border:1px solid rgba(75,75,85, 0);
	padding: 0 15px;
	}
nav ul li a:hover {
	border:1px solid rgb(75,75,85);
	border-radius:20px;
	background-color: rgba(255,255,255, 0.5);
	cursor: pointer;
	}
/**/
/*Index Page Styles*/
#index hgroup h1 {
	font-size:6em;
	}
#index {
	padding:1vh 0;
	height: 98vh;
	background-image: url('../assets/images/sedona_fpl.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	}

/**/
/*About Page Contact*/

#examples {
	width: 880px;
	display:flex;
	flex: row;
	justify-content: space-between;
	margin: 4em auto;
	}
.example {
	width: 280px;
	height: 220px;
	background: rgb(215,210,210);
	margin-right: 20px;
	position:relative;
	}
.example:last-child {
	margin-right:0;
	}
.portraits {}
.landscape {}
.architecture {}

.example h2 {
	position:absolute;
	bottom:0;
	width:100%;
	background: rgb(75,75,85);
	color: rgb(215,210,210);
	}


/**/
/*Gallery Page Content*/

.gallerbox {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	width:100%;
	padding:20px;
	}
.preview {
	background: rgb(215,210,210);
	max-width:350px;
	min-width:250px;
	height: 300px;
	flex-basis: 300px | 1;
	flex-grow: 1;
	flex-shrink: 1;
	margin:20px;
	}
	
.fullsize {}

/**/
/*Pricing Page Content*/

table {
	border-collapse: collapse;
	width:100%;
	margin:0 auto 2em;
	font-size:1.4em;
	text-align: center;
	}
tr {
	width:100%;
	}
td, th {
	border:1px solid rgb(75,75,85);
	width: 20%;
	padding: .5em 0;
	}
th {background: rgb(215,210,210);}
td:first-child {
	background: rgb(75,75,85);
	color: rgb(215,210,210);
}

/**/
/*Contact Page Content*/

form {}
label {}
textarea {}
input {}
select {}
button {}

#katbots {}

/**/
/*Media Query Styles*/

/*Complicated Index Background Scaling Bullshit*/
@media (max-width:1080px) {
	#index {background: url('../assets/images/sedona_fpm.jpg') top center no-repeat; background-size:cover;}
	}
@media (max-height:810px) {
	#index {background-size: auto 810px ;}
	}
@media (max-height:810px) and (max-width:1080px) {
	#index {background-size: cover;}
	}
@media (max-height:810px) and (max-width:810px) {
	#index {background-size:810px 810px;}
	}
@media (max-width:600px) {
	#index {background-size:cover;}
	}
@media (max-width:540px) and (max-height:540px) {
	#index {background-image: url('../assets/images/sedona_fps.jpg'); background-size: 540px 540px;}
	}
/**/
/*Normal Media Queries for Normal People*/
@media (max-width:930px) {
	.preview {max-width:300px; min-width:200px; height: 250px; margin:10px;}
	}
	
@media (max-width:800px) {
	header {box-sizing: border-box; width:100%; padding: 0 10px;}
	}
	
@media (max-width:600px) {
	nav {height: fit-content;}
	#navwrap {height: fit-content; box-sizing: border-box; width:100%; padding: 0 1em;}
	#logo {float:none; width: 160px; margin:auto; padding-left:50px; background-size:50px 50px;}
	a div#logo h1 {font-size:30px;}
	nav ul {float:none; margin:auto;}
	header {margin-top:2em;}
	#index hgroup h1 {font-size:4em;}
	main {box-sizing: border-box; width:100%; padding: 0 10px;}
	}
	
@media (max-width:540px) {
	#about, #contact, #pricing, #gallery {padding: 0 0 150px 0;}
	.gallerbox {justify-content: center;}
	.preview {max-width:225px; min-width:125px; height: 150px; margin:10px;}
	}
@media (max-width:400px) {
	#index hgroup h1, h1 {font-size:3em;}
	h2 {font-size:1.5em;}
}

@media (max-width:380px) {
	table {font-size:1.2em;}
	}
	
@media (max-width:330px) {
	table {font-size:1em;}
	}

/*Gallery Image Backgrounds*/

.house1 {
	background: rgb(215,210,210) url('../assets/gallery/housecommis_th.jpg') center center no-repeat;
	background-size: cover;}
.wolf {
	background: rgb(215,210,210) url('../assets/gallery/manewolf_th.jpg') left center no-repeat;
	background-size: cover;}
.creek {
	background: rgb(215,210,210) url('../assets/gallery/savagecreek_th.jpg') center center no-repeat;
	background-size: cover;}
.stairs {
	background: rgb(215,210,210) url('../assets/gallery/savagemill_th.jpg') center center no-repeat;
	background-size: cover;}
.room {
	background: rgb(215,210,210) url('../assets/gallery/room_th.jpg') center center no-repeat;
	background-size: cover;}
.kettle {
	background: rgb(215,210,210) url('../assets/gallery/maskettle_th.jpg') center center no-repeat;
	background-size: cover;}
.house2 {
	background: rgb(215,210,210) url('../assets/gallery/housepaint_th.jpg') center center no-repeat;
	background-size: cover;}
.shell {
	background: rgb(215,210,210) url('../assets/gallery/shell1_th.jpg') center center no-repeat;
	background-size: cover;}
.tiger {
	background: rgb(215,210,210) url('../assets/gallery/tigerpaint_th.jpg') right center no-repeat;
	background-size: cover;}
.sedona {
	background: rgb(215,210,210) url('../assets/gallery/sedona_th.jpg') center center no-repeat;
	background-size: cover;}
.mill {
	background: rgb(215,210,210) url('../assets/gallery/savagemillfront_th.jpg') center center no-repeat;
	background-size: cover;}
.property {
	background: rgb(215,210,210) url('../assets/gallery/property_th.jpg') center center no-repeat;
	background-size: cover;}